body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background: #f9f9f9;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #232f3e;
  color: #ffffff;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #f90;
}

header .logo img.site-logo {
  height: 100px;
  width: auto;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-secondary {
  position: relative;
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.hero-secondary .hero-carousel {
  display: flex;
  width: 100%;
  transition: transform 1s ease-in-out;
}

.hero-secondary .hero-carousel img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.hero-secondary h1 {
  position: absolute;
  z-index: 1;
  color: #f4c20b;
  text-align: center;
  margin: 0;
  font-size: 4rem;
  z-index: 2;
  margin-bottom: 0.5rem;
}

.hero-secondary p {
  font-size: 2rem;
  z-index: 2;
  margin-top: 0;
}

.dots-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}

.dot.active {
  opacity: 1;
  transform: scale(1.2);
}

.dot:hover {
  opacity: 1;
}

.products-container h2 p {
  text-align: center;
  padding: 2rem;
  background: #fcfcfd;
  color: #4a148c;
}

.products {
  padding: 2rem;
  text-align: center;
}

.products h2 {
  margin-bottom: 1rem;
  color: #f4c20b;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 6rem;
}

.product-card {
  position: relative;
  width: 250px;
  height: 350px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  margin: 20px;
}

.product-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
}

.product-card:hover img {
  transform: none;
}

.product-card h3 {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  width: 90%;
}

.product-card p {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  width: 90%;
}

.product-card:hover h3,
.product-card:hover p {
  opacity: 1;
  transform: translateX(-50%);
}

.product-card img:hover {
  transform: scale(1.1);
}

/* Newsletter Form */

.newsletter-form {
  background: url('/Images/Newsletter\ Background.jpg');
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 800px;
  margin: 1.5rem auto;
  background-color: #fff;
  padding: 2rem;
  color: #f4f1f1;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.newsletter-form .form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.newsletter-form h2 {
  color: #f4c20b;
}

.newsletter-form p {
  color: #020202;
}

.newsletter-form .form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
  color: #f4c20b;
}

.newsletter-form .form-group input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.newsletter-form .btn {
  padding: 1rem;
  background-color: #4a148c;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form .btn:hover {
  background-color: #d9534f;
}

@media (max-width: 768px) {
  .newsletter-form {
    width: 90%;
    padding: 1.5rem;
  }

  .newsletter-form h2 {
    font-size: 1.5rem;
  }

  .newsletter-form p {
    font-size: 0.875rem;
  }

  .newsletter-form .form-group input {
    padding: 0.75rem;
  }

  .newsletter-form .btn {
    padding: 0.75rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .newsletter-form {
    width: 100%;
    padding: 1rem;
  }

  .newsletter-form h2 {
    font-size: 1.25rem;
  }

  .newsletter-form p {
    font-size: 0.75rem;
  }
}

/* Footer */

footer {
  background-color: #232f3e;
  color: #ffffff;
  padding: 30px 0;
}

footer .footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer .footer-section {
  width: 22%;
  margin-bottom: 20px;
}

footer .footer-section h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #f4c20b;
}

footer .footer-section ul {
  list-style: none;
  padding: 0;
}

footer .footer-section ul li {
  margin: 5px 0;
}

footer .footer-section ul li a {
  color: #d5d5d5;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

footer .footer-section ul li a:hover {
  color: #f90;
}

footer .social-icons {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
}

footer .social-icons i {
  font-size: 1.5rem;
  color: #d5d5d5;
  transition: color 0.3s ease;
}

footer .social-icons i:hover {
  color: #f90;
}

footer .footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #d5d5d5;
}

footer .footer-bottom .footer-links a {
  color: #d5d5d5;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

footer .footer-bottom .footer-links a:hover {
  color: #f90;
}

/* Laptop Screen */

@media (min-width: 1024px) {
  .hero {
    height: 100vh;
  }

  .hero-secondary {
    height: 75vh;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.6rem;
    justify-content: center;
  }

  .product-card {
    width: 100%;
    max-width: 250px;
  }
}

/* Small Devices (Mobile) */
@media (max-width: 600px) {
  body{
    text-align: center;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  header nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  header nav ul li {
    margin: 0 1px; /* Adjust the spacing between items */
  }

  header nav ul li a {
    text-decoration: none;
    padding: 1px 1px; /* Equal padding on left and right */
  }

  header .logo img {
    height: 30px;
  }
  

  .hero {
    height: 30vh;
    width: 100%;
    object-fit: cover;
  }

  .hero-secondary h1 {
    font-size: 2rem;
  }

  .hero-secondary p {
    font-size: 1.2rem;
  }

  .product-grid {
    grid-template-columns: 1fr; /* Stack product cards */
    justify-items: center;
  }

  footer .footer-content {
    flex-direction: column;
    align-items: center;
  }

  footer .footer-section {
    width: 100%;
    margin-bottom: 10px;
  }
  footer .footer-section  .social-icons{
    display: flex;
    justify-content: center;
  }
  
  .newsletter-form {
    width: 80%;
    margin: 1rem;
  }
}
